# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Output images
output_images/
output_images_old/

# Config files with sensitive data
.env
src/config.json

# Specific logo files
plate/santander-logo2.png

# Operating System Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?